{% extends 'outlay.html' %}
{% load static %}
{% load my_tags %}
<html lang="en-JP">
<head>
    <title>Iwade schedule</title>
</head>

    <!--
    This website uses an MIT-licensed template.
    License information is available in the "license/license.text" file.
    -->



{% block body %}
{% if request.user.is_superuser %}
<form method="post" action="{% url 'stacktry:add_users_to_lessons' %}">
    {% csrf_token %}
    <button type="submit">Put all students into their respective school's lessons</button>
</form>
<a href="{% url 'stacktry:lesson_create' %}">Create a new lesson!</a>
{% endif %}
<link href="{% static 'stacktry/timetable.css' %}" rel="stylesheet">
<div id="scroll-target" class="container">
<div class="container">
                <div class="timetable-img text-center">
                    <img src="img/content/timetable.png" alt="">
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr class="bg-light-gray">
                                <th class="text-uppercase">Sunday</th>
                                <th class="text-uppercase">Monday</th>
                                <th class="text-uppercase">Tuesday</th>
                                <th class="text-uppercase">Wednesday</th>
                                <th class="text-uppercase">Thursday</th>
                                <th class="text-uppercase">Friday</th>
                                <th class="text-uppercase">Saturday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% get_lesson_link 'Sunday' 1 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Sunday' 1 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Sunday' 1 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">{% get_lesson_title 'Sunday' 1 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Sunday' 1 'Iwade'|safe %}</div>
                                    <div>
                                    {% get_lesson_picture 'Sunday' 1 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Monday' 1 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Monday' 1 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Monday' 1 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">{% get_lesson_title 'Monday' 1 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Monday' 1 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Monday' 1 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Tuesday' 1 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Tuesday' 1 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Tuesday' 1 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Tuesday' 1 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Tuesday' 1 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Tuesday' 1 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>

                                {% get_lesson_link 'Wednesday' 1 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Wednesday' 1 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Wednesday' 1 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Wednesday' 1 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Wednesday' 1 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Wednesday' 1 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Thursday' 1 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Thursday' 1 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Thursday' 1 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Thursday' 1 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Thursday' 1 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Thursday' 1 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Friday' 1 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Friday' 1 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Friday' 1 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Friday' 1 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Friday' 1 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Friday' 1 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Saturday' 1 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Saturday' 1 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Saturday' 1 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Saturday' 1 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Saturday' 1 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Saturday' 1 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                {% get_lesson_link 'Sunday' 2 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Sunday' 2 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Sunday' 2 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Sunday' 2 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Sunday' 2 'Iwade'|safe %}</div>
                                    <div>
                                    {% get_lesson_picture 'Sunday' 2 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Monday' 2 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Monday' 2 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Monday' 2 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Monday' 2 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Monday' 2 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Monday' 2 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Tuesday' 2 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Tuesday' 2 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Tuesday' 2 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Tuesday' 2 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Tuesday' 2 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Tuesday' 2 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Wednesday' 2 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Wednesday' 2 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Wednesday' 2 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Wednesday' 2 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Wednesday' 2 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Wednesday' 2 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Thursday' 2 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Thursday' 2 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Thursday' 2 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Thursday' 2 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Thursday' 2 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Thursday' 2 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Friday' 2 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Friday' 2 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Friday' 2 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Friday' 2 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Friday' 2 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Friday' 2 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Saturday' 2 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Saturday' 2 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Saturday' 2 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Saturday' 2 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Saturday' 2 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Saturday' 2 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                {% get_lesson_link 'Sunday' 2 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Sunday' 3 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Sunday' 3 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Sunday' 3 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Sunday' 3 'Iwade'|safe %}</div>
                                    <div>
                                    {% get_lesson_picture 'Sunday' 3 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Monday' 3 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Monday' 3 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Monday' 3 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Monday' 3 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Monday' 3 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Monday' 3 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Tuesday' 3 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Tuesday' 3 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Tuesday' 3 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Tuesday' 3 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Tuesday' 3 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Tuesday' 3 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Wednesday' 3 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Wednesday' 3 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Wednesday' 3 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Wednesday' 3 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Wednesday' 3 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Wednesday' 3 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Thursday' 3 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Thursday' 3 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Thursday' 3 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Thursday' 3 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Thursday' 3 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Thursday' 3 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Friday' 3 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Friday' 3 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Friday' 3 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Friday' 3 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Friday' 3 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Friday' 3 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Saturday' 3 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Saturday' 3 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Saturday' 3 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Saturday' 3 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Saturday' 3 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Saturday' 3 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                {% get_lesson_link 'Sunday' 4 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Sunday' 4 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Sunday' 4 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Sunday' 4 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Sunday' 4 'Iwade'|safe %}</div>
                                    <div>
                                    {% get_lesson_picture 'Sunday' 4 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Monday' 4 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Monday' 4 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Monday' 4 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Monday' 4 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Monday' 4 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Monday' 4 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Tuesday' 4 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Tuesday' 4 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Tuesday' 4 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Tuesday' 4 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Tuesday' 4 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Tuesday' 4 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Wednesday' 4 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Wednesday' 4 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Wednesday' 4 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Wednesday' 4 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Wednesday' 4 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Wednesday' 4 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Thursday' 4 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Thursday' 4 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Thursday' 4 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Thursday' 4 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Thursday' 4 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Thursday' 4 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Friday' 4 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Friday' 4 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Friday' 4 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Friday' 4 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Friday' 4 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Friday' 4 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Saturday' 4 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Saturday' 4 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Saturday' 4 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Saturday' 4 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Saturday' 4 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Saturday' 4 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                {% get_lesson_link 'Sunday' 5 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Sunday' 5 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                　　<span class="bg-{% get_lesson_color 'Sunday' 5 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Sunday' 5 'Iwade'|safe %}</span>
                                　　<div class="margin-10px-top font-size14">{% get_lesson_time 'Sunday' 5 'Iwade'|safe %}</div>
                                    <div>
                                    {% get_lesson_picture 'Sunday' 5 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Monday' 5 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Monday' 5 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Monday' 5 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Monday' 5 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Monday' 5 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Monday' 5 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Tuesday' 5 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Tuesday' 5 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Tuesday' 5 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Tuesday' 5 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Tuesday' 5 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Tuesday' 5 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Wednesday' 5 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Wednesday' 5 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Wednesday' 5 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Wednesday' 5 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Wednesday' 5 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Wednesday' 5 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Thursday' 5 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Thursday' 5 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Thursday' 5 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Thursday' 5 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Thursday' 5 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Thursday' 5 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Friday' 5 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Friday' 5 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Friday' 5 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Friday' 5 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Friday' 5 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Friday' 5 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                                {% get_lesson_link 'Saturday' 5 'Iwade' as lesson_link %}
                                {% if lesson_link %}
                                <td style="cursor: pointer;" onclick="window.location.href='{% get_lesson_link 'Saturday' 5 'Iwade' %}'">
                                {% else %}
                                <td>
                                {% endif %}
                                    <span class="bg-{% get_lesson_color 'Saturday' 5 'Iwade' %} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">{% get_lesson_title 'Saturday' 5 'Iwade'|safe %}</span>
                                    <div class="margin-10px-top font-size14">{% get_lesson_time 'Saturday' 5 'Iwade'|safe %}</div>
                                    <div class="font-size13 text-light-gray">
                                    {% get_lesson_picture 'Saturday' 5 'Iwade' as lesson_picture_url %}
                                    {% if lesson_picture_url %}
                                    <img style="width:100px;height:100px;margin-top: 8px; border:3px solid black;" src="{{ lesson_picture_url }}" alt="Lesson Picture">
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>Sunday</p>
                                    <span class="bg- custom-no-wrap padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">reservations</span>
                                </td>
                                <td>
                                    <p>Monday</p>
                                    <span class="bg- custom-no-wrap padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">reservations</span>
                                </td>
                                <td>
                                    <p>Tuesday</p>
                                    <span class="bg- custom-no-wrap padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">reservations</span>
                                </td>
                                <td>
                                    <p>Wednesday</p>
                                    <span class="bg- custom-no-wrap padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">reservations</span>
                                </td>
                                <td>
                                    <p>Thursday</p>
                                    <span class="bg- custom-no-wrap padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">reservations</span>
                                </td>
                                <td>
                                    <p>Friday</p>
                                    <span class="bg- custom-no-wrap padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">reservations</span>
                                </td>
                                <td>
                                    <p>Saturday</p>
                                    <span class="bg- custom-no-wrap padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">reservations</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
</div>
                <script>
                   document.addEventListener("DOMContentLoaded", function(event) {
                      var targetElement = document.getElementById("scroll-target");

                      if (targetElement) {
                         targetElement.scrollIntoView({ behavior: 'smooth' });
                      }
                   });
                </script>
{% endblock %}